<ion-header>
  <ion-toolbar>
    <ion-title>STATIC PULSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Container personalizado para organizar as playlists -->
  <div class="playlist-container">
    <div class="playlist-card" *ngFor="let playlist of playlists">
      <!-- Imagem da playlist com link para o Spotify -->
      <a [href]="playlist.external_urls.spotify" target="_blank">
        <img [src]="playlist.images[0]?.url" alt="Playlist Image" />
      </a>
      <!-- Informações da playlist -->
      <div class="playlist-info">
        <h3>{{ playlist.name }}</h3>
        <p>{{ playlist.description }}</p>
      </div>
    </div>
  </div>
</ion-content>
